<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <% if (user.hospitalOwner) {%>
            <a href="/myHospital">My Hospital</a>
        <% } %>
        <a href="/myRequests">My Requests</a>
        <% if (!user.medicalAccount) {%>
            <a href="/medicalRequest">Medical Upgrade</a>
        <% } %>
        <% if (!user.hospitalOwner) {%>
            <a href="/hospitalRequest">Hospital Creation</a>
        <% } %>
        <% if (user.medicalAccount) {%>
            <a href="/addVaccineInfo">Add Vaccine Information</a>
        <% } %>
        <a href="/generalInformation">General Vaccine Information</a>
        <% if (user.medicalAccount) {%>
            <a class="active" href="/addScheduleSlots">Add Schedule Openings</a>
        <% } %>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>Add Schedule Openings</h1>
        
        <h3>Here, you, as a doctor, can schedule openings to give vaccines to our other users, who will request to recieve that vaccine from you. </h3>
        
        <%= sent %>
        
        <div class="row">
            <div class="column">
                <% schedule.forEach( (slot) => { %>
                    <p><i>Date: </i> <%= slot.toLocaleDate String("en-US") %> <%= slot.toLocaleTimeString("en-US") %></p>
                <% }); %>
            </div>
            
            <div class="column">
                <form action="/addNewSlot" method="post">
                    <label for="enterHospital">Enter Hospital: </label> <br>
                    <select name="enterHosptial">
                        <% user.employedAt.forEach( (hospital) => { %>
                            <option value="<%=hospital%>"><%=hospital%></option> 
                        <% }); %>
                    </select> <br>
                    <label for="enterDate">Enter the date and time when this appointment will occur: </label> <br>
                    <input type="datetime-local" name="enterDate"> <br>
                    <label for="enterVaccine">Enter the vaccine that will be given: </label>
                    <input type="text" name="enterVaccine"> <br>
                    <input type="submit">
                </form>
            </div>
        </div>
        
        
    </main>

</body>
