<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Admin Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/adminhome">Home</a>
        <a href="/accountchange">Medical Accounts</a>
        <a href="/hospitalcreation">Hospital Creation</a>
        <a href="/generalInfoRequest">General Information Post Requests</a>
        <a class="active" href="/archiveHospital">Archive Hospital</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>Archive Hospital</h1>
        <h3>This is where you can remove a hospital from creating new vaccine slots, adding/removing employees, and revoking the owner's access.</h3>
        <h3>Be careful, with great power comes great responsibility.</h3>
        
        <% hospitals.forEach((hospital) => { %>
            <p><i>Name: </i> <%=hospital.name %></p>
            <p><i>Owner: </i> <%= hospital.owner.username%> </p>
            <p><i>Location: </i> <%= hospital.location%></p>
            <form action="/viewArchiveHospital?name=<%=hospital.name%>&owner=<%=hospital.owner.username%>&location=<%=hospital.location%>" method="post">
                <input type="submit" value="View More">
            </form>
        <% }); %>
    </main>

</body>
