<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <% if (user.hospitalOwner) {%>
            <a href="/myHospital">My Hospital</a>
        <% } %>
        <a href="/myRequests">My Requests</a>
        <% if (!user.medicalAccount) {%>
            <a href="/medicalRequest">Medical Upgrade</a>
        <% } %>
        <a href="/hospitalRequest">Hospital Creation</a>
        <% if (user.medicalAccount) {%>
            <a href="/addVaccineInfo">Add Vaccine Information</a>
        <% } %>
        <a href="/generalInformation">General Vaccine Information</a>
        <% if (user.medicalAccount) {%>
            <a href="/addScheduleSlots">Add Schedule Openings</a>
        <% } %>
        <a class="active" href="/viewAvailableSlots">Schedule Vaccine</a>
        <% if (user.medicalAccount) {%>
            <a href="/listScheduleRequest">Vaccine Request List</a>
        <% } %>
        <a href="/mySchedule">My Schedule</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>Schedule Vaccine</h1>

        <h3>Please finish this form to request the date to schedule your vaccine.</h3>

        <p><i>Hospital: </i> <%= request.hospital %></p>
        <p><i>Doctor: </i> <%= request.doctor.username %></p>
        <p><i>Date: </i> <%= request.date.toLocaleDateString("en-US")%> <%= request.date.toLocaleTimeString("en-US")%></p>
        <p><i>Vaccine: </i> <%= request.vaccine %></p>
        <form action='/processScheduleRequest?doctor=<%=request.doctor.username%>&date=<%=request.date.getTime()%>' method='post'>
            <label for="enterNote">Enter a note for the doctor: </label> <br>
            <textarea name="enterNote" rows = "3" cols = "80"></textarea> <br>
            <input type="submit">
        </form>

    </main>

</body>
