<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <% if (user.hospitalOwner) {%>
            <a class="active" href="/myHospital">My Hospital</a>
        <% } %>
        <a href="/myRequests">My Requests</a>
        <% if (!user.medicalAccount) {%>
            <a href="/medicalRequest">Medical Upgrade</a>
        <% } %>
        <% if (!user.hospitalOwner) {%>
            <a href="/hospitalRequest">Hospital Creation</a>
        <% } %>
        <% if (user.medicalAccount) {%>
            <a href="/addVaccineInfo">Add Vaccine Information</a>
        <% } %>
        <a href="/generalInformation">General Vaccine Information</a>
        <% if (user.medicalAccount) {%>
            <a href="/addScheduleSlots">Add Schedule Openings</a>
        <% } %>
        <a href="/viewAvailableSlots">Schedule Vaccine</a>
        <% if (user.medicalAccount) {%>
            <a href="/listScheduleRequest">Vaccine Request List</a>
        <% } %>
        <a href="/mySchedule">My Schedule</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>My Hospital</h1>


            <% hospitals.forEach ( (hospital) => { %>

                    <p><i>Hospital Name:</i> <%= hospital.name %></p>
                    <p><i>My Staff:</i>
                        <% if (hospital.staffArray) { %>
                            You currently have <%= hospital.staffArray.length %> staff member(s).
                            <% if (hospital.staffArray.length > 0) { %>
                                <% hospital.staffArray.forEach( (member) => { %>
                                    <br> <%= member %>
                                <% }); %>
                            <% } %>
                        <% } else { %>
                            You currently have no staff. Enter information in the form below to add staff!
                        <% } %>
                    </p>

            <% }); %>



        <div class="row">
            <div class="column">
                <p> Add Staff: </p>
                <form action="/addStaff" method="post">
                    <label for="chooseHospital">Choose Hospital: </label> <br>
                    <select name="chooseHospital">
                        <% user.hospitalArray.forEach( (hospital) => { %>
                            <option value="<%=hospital%>"><%=hospital%></option>
                        <% }); %>
                    </select> <br>
                    <label for="enterStaffUsernameAdd">Enter Staff Username: </label> <br>
                    <input type="text" name="enterStaffUsernameAdd"> <br>
                    <input type="Submit" value="Add Staff">
                </form>
            </div>
            <div class="column">
                <p> Remove Staff: </p>
                <form action="/removeStaff" method="post">
                    <label for="chooseHospital">Choose Hospital: </label> <br>
                    <select name="chooseHospital">
                        <% user.hospitalArray.forEach( (hospital) => { %>
                            <option value="<%=hospital%>"><%=hospital%></option>
                        <% }); %>
                    </select> <br>
                    <label for="enterStaffUsernameRemove">Enter Staff Username: </label> <br>
                    <input type="text" name="enterStaffUsernameRemove"> <br>
                    <input type="Submit" value="Remove Staff">
                </form>
            </div>
        </div>
    </main>

</body>
