<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/myHospital">My Hospital</a>
        <a class="active" href="/myRequests">My Requests</a>
        <a href="/medicalrequest">Medical Upgrade</a>
        <a href="/hospitalrequest">Hospital Creation</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>My Pending Requests</h1>

        <b>Name: </b> <%= user.username %> <br>
        <b>Medical Requests: </b> <br>
        <% if (requests) {%>
          <% requests.forEach( (request) => { %>
              <% if (user.username == request.creator.username) {%>
              <br><i>Account:</i> <%= request.creator.username %>
              <br> <i>Description:</i> <%= request.description %>
              <br>
              <% } %>
          <% }); %>
          <% } %> <br>
          <b>Hospital Requests: </b> <br>
          <% if (more) {%>
            <% more.forEach( (request) => { %>
                <% if (user.username == request.creator.username) {%>
                <br><i>Account:</i> <%= request.creator.username %>
                <br><i>Hospital Name:</i> <%= request.name %>
                <br><i>Hospital Location:</i> <%= request.location %>
                <br><i>Hospital Website:</i> <%= request.website %>
                <br>
                <br><i>Description:</i> <%= request.description %>
                <br>
                <% } %>
            <% }); %>
          <% } %> <br>
    </main>

</body>
