<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <% if (user.hospitalOwner) {%>
            <a href="/myHospital">My Hospital</a>
        <% } %>
        <a href="/myRequests">My Requests</a>
        <% if (!user.medicalAccount) {%>
            <a href="/medicalRequest">Medical Upgrade</a>
        <% } %>
        <% if (!user.hospitalOwner) {%>
            <a href="/hospitalRequest">Hospital Creation</a>
        <% } %>
        <% if (user.medicalAccount) {%>
            <a href="/addVaccineInfo">Add Vaccine Information</a>
        <% } %>
        <a href="/generalInformation">General Vaccine Information</a>
        <% if (user.medicalAccount) {%>
            <a href="/addScheduleSlots">Add Schedule Openings</a>
        <% } %>
        <a href="/viewAvailableSlots">Schedule Vaccine</a>
        <% if (user.medicalAccount) {%>
            <a class="active" href="/listScheduleRequest">Vaccine Request List</a>
        <% } %>
        <a href="/mySchedule">My Schedule</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>Vaccine Scheduling Requests</h1>

        <h3>Please choose whether to accept or reject this request.</h3>

        
        <p><i>Hospital: </i> <%= slot.hospital %></p> <br>
        <p><i>Doctor: </i> <%= slot.doctor.username %></p> <br>
        <p><i>Date: </i> <%= slot.date.toLocaleDateString("en-US")%> <%= slot.date.toLocaleTimeString("en-US")%></p> <br>
        <p><i>Patient: </i> <%=slot.patient.username%></p>
        <p><i>Vaccine: </i> <%= slot.vaccine %></p> <br>
        <p><i>Special Notes: </i> <%= slot.specialNotes %></p>
        
        <form action="/acceptSlotRequest?patient=<%=slot.patient.username %>&date=<%=request.date.getTime()%>" method="post">
            <input type="submit" value="accept">
        </form>
        
        <form action="/rejectSlotRequest?patient=<%=slot.patient.username %>&date=<%=request.date.getTime()%>" method="post">
            <input type="submit" value="accept">
        </form>
        
    </main>

</body>
