<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Admin Dashboard</title>
</head>

<style>
.btn {
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}
/* Green */
.info {
  color: green;
}
.info:hover {
  background-color: #4CAF50;
  color: white;
}
/* Red */
.reject {
  color: red;
}
.reject:hover {
  background: #f44336;
  color: white;
}
</style>

<body class="container">
    <div class="topnav">
        <a href="/adminhome">Home</a>
        <a href="/accountchange">Medical Accounts</a>
        <a href="/hospitalcreation">Hospital Creation</a>
        <a class="active" href="/generalInfoRequest">General Information Post Requests</a>
        <a href="/archiveHospital">Archive Hospital</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>Detailed General Information Post Request: </h1>
        <br><i>Account:</i> <%= request.publishedBy %>
        <br><i>Hospital Name:</i> <%= request.hospitalName %>
        <br><i>Date:</i> <%= request.date.toLocaleDateString("en-US"); %>
        <br><i>Post:</i> <%= request.body %>
        <br>
        <br>
            <form action="/acceptGeneralInfoRequest?publishedBy=<%= request.publishedBy %>&date=<%= request.date.getTime()%>" method="post">
                <input type="submit" class = "btn info" value="Accept Request">
            </form>
            <form action="/rejectGeneralInfoRequest?publishedBy=<%= request.publishedBy %>&date=<%= request.date.getTime()%>" method="post">
            <input type="submit" class = "btn reject" value="Reject Request">
            </form>
    </main>

</body>