<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Admin Dashboard</title>
</head>

<style>
.btn {
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}
/* Green */
.info {
  color: green;
}
.info:hover {
  background-color: #4CAF50;
  color: white;
}
/* Red */
.reject {
  color: red;
}
.reject:hover {
  background: #f44336;
  color: white;
}
</style>

<body class="container">
    <div class="topnav">
        <a href="/adminhome">Home</a>
        <a href="/accountchange">Medical Accounts</a>
        <a class="active" href="/hospitalcreation">Hospital Creation</a>
        <a href="/generalInfoRequest">General Information Post Requests</a>
        <a href="/logout">Logout</a>
    </div>

    <main>
        <h1>Detailed Hospital Request: </h1>
        <br><i>Account:</i> <%= request.creator.username %>
        <br><i>Hospital Name:</i> <%= request.name %>
        <br><i>Hospital Location:</i> <%= request.location %>
        <br><i>Website:</i> <%= request.website %>
        <br>
        <br><i>Description:</i> <%= request.description %>
        <br>
        <br>
            <form action="/acceptHospitalRequest?hospital=<%= request.name %>&name=<%= request.creator.username%>" method="post">
                <input type="submit" class = "btn info" value="Accept Request">
            </form>
            <form action="/rejectHospitalRequest?hosptial=<%= request.name %>&name=<%=request.creator.username%>" method="post">
            <input type="submit" class = "btn reject" value="Reject Request">
            </form>
    </main>

</body>
